---
layout: default
title: "Posts"
---

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  <main>
    <header><h1>{{ include.title | default: page.title }}</h1></header>
    <nav class="smooth">
    {% for post in site.posts %}
      <div><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time><a href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
    {% endfor %}
    </nav>
  </main>
{% endif %}
